.dropdown-button {
    cursor: pointer;
    margin: 2em;
}

.dropdown-button:hover {
    background-color: aqua;
}

.img-in-cart {
    width: 75px;
    height: 75px;
}

.dropdown-content {
    padding: 1em;
    font-size: 1em

}

.dropdown {
    position: relative;
    display: inline-block;
    text-align: center;
}

.dropdown-content {
    display: none;
    position: absolute;
    background: linear-gradient(to right, purple, red);
    min-width: 160px;
    overflow: auto;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 0.75em 1em;
}

.dropdown a:hover {
    background-color: aqua;
}

.show {
    display: block;
}